# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto Part 2


## Part 1

In [ ]:
# Importing Pandas
import pandas as pd

### Reading the table from source i.e. Wikipedia URL to List of Postal Codes of Canada

In [2]:

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
read_table = pd.read_html(url,header=[0])
df = read_table[0]
df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

### Renameing Column headers

In [3]:
df = df.rename(index=str, columns={'Postcode':'PostalCode','Neighbourhood':'Neighborhood'})
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Ignoring cells with a borough that is Not assigned.

In [4]:
df = df[df.Borough !='Not assigned']
df.reset_index(drop=True,inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Groupin Neighborhood based on same PostalCode

In [6]:
df = df.groupby('Postal Code',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [9]:
df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood'] = df['Borough']
df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### Check the shape of rows

In [10]:
df.shape[0]

103

In [11]:

url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
#check the sshape o the csv file
df_geo.shape

(103, 3)

In [15]:
df = df.join(df_geo.set_index('Postal Code'), on='Postal Code')
df.head

<bound method NDFrame.head of     Postal Code      Borough  \
0           M1B  Scarborough
1           M1C  Scarborough
2           M1E  Scarborough
3           M1G  Scarborough
4           M1H  Scarborough
..          ...          ...
98          M9N         York
99          M9P    Etobicoke
100         M9R    Etobicoke
101         M9V    Etobicoke
102         M9W    Etobicoke

                                          Neighborhood   Latitude  Longitude
0                                       Malvern, Rouge  43.806686 -79.194353
1               Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2                    Guildwood, Morningside, West Hill  43.763573 -79.188711
3                                               Woburn  43.770992 -79.216917
4                                            Cedarbrae  43.773136 -79.239476
..                                                 ...        ...        ...
98                                              Weston  43.706876 -79.518188
99                                           Westmount  43.696319 -79.532242
100  Kingsview Village, St. Phillips, Martin Grove ...  43.688905 -79.554724
101  South Steeles, Silverstone, Humbergate, Jamest...  43.739416 -79.588437
102                Northwest, West Humber - Clairville  43.706748 -79.594054

[103 rows x 5 columns]>